#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


/*Mis cambios*/
body {
  font-family: 'Arial', sans-serif;
  color: #fff;
}

.section {
  background-color: #f88211;
}

.container {
  background-color: #116b38;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.begin-button {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 30%;
}

.bottom img {
  width: 100%;
  max-width: 300px; /* Ajusta según sea necesario */
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  transition: filter 300ms;
}
.container, .bottom, .begin-button {
  border-radius: 10px;
}

.goal_container{
  font-size: 40px;
}

/* Agrega estas reglas al final de tu archivo App.css */
@media (max-width: 768px) {
  .section {
    font-size: 16px;
  }

  .goal-text {
    font-size: 20px;
  }

  .description-text {
    font-size: 14px;
  }

  .begin-button {
    width: 30%;
  }

  .bottom img {
    width: 80%;
    max-width: 300px;
  }

  .goal_container {
    font-size: 24px;
  }
}
